.logo > a > img {
    opacity: 0;
}

.logo {
    background: url(/voter-data-normalization/Open-Ink-Logo.png);
    width: 215px !important;
    height: 58px !important;
}

pre {
    background-color: #444 !important;
}

body {
    font-family: Geist, sans-serif !important;
}


code.highlight {
    background-color: unset !important;
    color: white !important;
}
